/* .signup-input {
    border: 0.5px solid var(--gray-2-light);
    border-radius: var(--radius-small);
    font-size: var(--h3-font-size);
    margin-bottom: 0px;
    padding: 10px;
    width: 100%;
  }

  .password-input-container {
    position: relative;
  }
  
  .password-input-container i {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
  }
   */